<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Packager.ServiceModel.WCF.Impl.Test.Service1">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:80/Packager.ServiceModel.WCF.Impl.Test/Service1/" />
          </baseAddresses>
        </host>

        <endpoint address="" binding="basicHttpBinding" contract="Packager.ServiceModel.WCF.Spec.Test.IService1" />
        <endpoint address="Http" binding="netHttpBinding" contract="Packager.ServiceModel.WCF.Spec.Test.IService1" />
        <endpoint address="Rest" binding="webHttpBinding" contract="Packager.ServiceModel.WCF.Spec.Test.IService1" behaviorConfiguration="Rest.Behavior" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

        <endpoint address="net.tcp://localhost:8081/Packager.ServiceModel.WCF.Impl.Test/Service1" binding="netTcpBinding" contract="Packager.ServiceModel.WCF.Spec.Test.IService1" />
        <endpoint address="net.tcp://localhost:8082/Packager.ServiceModel.WCF.Impl.Test/Service1" binding="mexTcpBinding" contract="IMetadataExchange"/>


        <!--<endpoint address="net.pipe://localhost/Packager.ServiceModel.WCF.Impl.Test/Service1" binding="netPeerTcpBinding" contract="Packager.ServiceModel.WCF.Spec.Test.IService1" />-->

      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />

          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="Packager.ServiceModel.RolesPolicy.CombinedRolesPolicy`1[[Packager.ServiceModel.WCF.Impl.Test.Security.ServicePrincipalFactory, Packager.ServiceModel.WCF.Impl.Test]], Packager.ServiceModel" />
            </authorizationPolicies>
          </serviceAuthorization>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="Rest.Behavior">
          <enableWebScript />
          <webHttp defaultBodyStyle="Wrapped" helpEnabled="true" defaultOutgoingResponseFormat="Json" faultExceptionEnabled="true"  automaticFormatSelectionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
