<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Endpoint-Config" value="Endpoint-Packager.ServiceModel.WCF.Impl.Test.Rest"/>
  </appSettings>
  
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:80/Packager.ServiceModel.WCF.Impl.Test/Service1/"
                binding="basicHttpBinding" contract="Packager.ServiceModel.WCF.Spec.Test.IService1"
                name="Endpoint-Packager.ServiceModel.WCF.Impl.Test.basicHttp"/>

      <endpoint address="http://localhost:80/Packager.ServiceModel.WCF.Impl.Test/Service1/Http"
                binding="netHttpBinding" contract="Packager.ServiceModel.WCF.Spec.Test.IService1"
                name="Endpoint-Packager.ServiceModel.WCF.Impl.Test.netHttp"/>

      <endpoint address="http://localhost:80/Packager.ServiceModel.WCF.Impl.Test/Service1/Rest" binding="webHttpBinding"
                contract="Packager.ServiceModel.WCF.Spec.Test.IService1"
                name="Endpoint-Packager.ServiceModel.WCF.Impl.Test.Rest" />

      <endpoint address="net.tcp://localhost:8081/Packager.ServiceModel.WCF.Impl.Test/Service1"
                binding="netTcpBinding" contract="Packager.ServiceModel.WCF.Spec.Test.IService1"
                name="Endpoint-Packager.ServiceModel.WCF.Impl.Test.netTcp" />
    </client>
  </system.serviceModel>
</configuration>